@media screen and (min-width: 1024px) {
    :root {
        --font-small: calc(0.55rem + 0.55vw);
        --font-big: calc(1.25rem + 1.25vw);
    }

    img {
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--border-radius);
    }

    .card {
        flex-direction: row;
        max-height: 75%;
        max-width: 55%;
    }

    .card-body {
        justify-content: space-between;
        padding: calc(2.5% + 1.25vw);
        width: 75%;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--border-radius);
    }

    .title {
        padding: 0 7.5% 0 0;
        line-height: 2.5rem;
    }

    .description {
        font-size: calc(0.6rem + 0.6vw);;
    }
}