.card {
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 7.5%;
    background-color: var(--white);
}

.tag {
    text-transform: uppercase;
    letter-spacing: 6px;
}

.tag,
.description,
.sale {
    font-family: 'Montserrat';
    font-size: var(--font-small);
    color: var(--light-clr);
}


.title {
    color: var(--dark-clr);
    line-height: 2rem;
}

.title,
.price {
    font-family: 'Fraunces';
    font-size: var(--font-big);
}

.description {
    line-height: 1.5rem;
}

.price-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    color: var(--primary-clr);
}

.price,
.sale {
    display: inline;
}

.sale {
    text-decoration: line-through;
}

button {
    font-family: 'Montserrat';
    font-size: var(--font-small);
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary-clr);
    height: 3rem;
    border: none;
    border-radius: var(--border-radius);
}

button:hover {
    background-color: var(--dark-primary-clr);
}