.card {
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 7.5%;
    background-color: var(--white);
}

.tag {
    text-transform: uppercase;
}

.tag,
.description,
.sale {
    font-family: 'Montserrat';
    font-size: var(--font-small);
    color: var(--light-clr);
}


.title {
    color: var(--dark-clr);
}

.title,
.price {
    font-family: 'Fraunces';
    font-size: var(--font-big);
}

.price {
    color: var(--primary-clr);
}

.price,
.sale {
    display: inline;
}

.sale {
    text-decoration: line-through;
}

button {
    font-family: 'Montserrat';
    font-size: var(--font-small);
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary-clr);
}