.card {
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    width: 100%;
    min-height: 100%; 
    object-fit: cover;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: calc(6px + 1vw);
    padding: calc(5% + 1vw);
    background-color: var(--white);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.tag {
    text-transform: uppercase;
    letter-spacing: 6px;
}

.tag,
.description,
.sale {
    font-family: 'Montserrat';
    font-size: var(--font-small);
    color: var(--light-clr);
}


.title {
    color: var(--dark-clr);
    line-height: 2rem;
}

.title,
.price {
    font-family: 'Fraunces';
    font-size: var(--font-big);
}

.description {
    line-height: 1.5rem;
}

.description > span {
    text-transform: uppercase;
}

.price-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    color: var(--primary-clr);
}

.price,
.sale {
    display: inline;
}

.sale {
    text-decoration: line-through;
}

button {
    font-family: 'Montserrat';
    font-size: var(--font-small);
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary-clr);
    height: 3rem;
    border: none;
    border-radius: var(--border-radius);
}

button > span::before {
    display: inline-block;
    content: url('../images/icon-cart.svg');
    position: relative;
    top: 3px;
    margin-right: 0.5rem;
}

button:hover {
    background-color: var(--dark-primary-clr);
}