footer {
    background-color: var(--dark-clr);
    padding: calc(1% + 0.5vw);
}

.attribution {
    font-family: 'Montserrat';
    font-size: calc(0.5rem + 0.5vw);
    text-align: center;
    color: var(--white);
}

.attribution a {
    color: hsl(228, 67%, 62%);
}